// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	line-height: 4;
	padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: Verdana;

}